<a href="https://colab.research.google.com/github/AbdulxoliqMirzayev/PandasLibrary/blob/main/lesson2_Lugatdan_Series_tuzish.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from pandas import Series

In [2]:
o = ([4,5,3,5])

In [3]:
o = Series([4,5,3,2,4], index=['a','b','s','d','x'])
o

a    4
b    5
s    3
d    2
x    4
dtype: int64

In [4]:
o['a']

4

In [5]:
cars={'Malibu':40000, 'Lacetti':20000, 'Toyota':45000,'Mazda':52000,'Honda':38000}

In [6]:
type(cars)

dict

In [7]:
cars1 = Series(cars)
cars1

Malibu     40000
Lacetti    20000
Toyota     45000
Mazda      52000
Honda      38000
dtype: int64

In [8]:
type(cars1)

pandas.core.series.Series

In [9]:
'Malibu' in cars1

True

In [10]:
'BMW' in cars1

False

In [12]:
cars1['Toyota']

45000

In [13]:
models = ['Honda','Mazda','Lacetti','Jaguar', 'Malibu', 'Toyota']

In [14]:
cars2 = Series(cars, index = models)

In [15]:
cars

{'Malibu': 40000,
 'Lacetti': 20000,
 'Toyota': 45000,
 'Mazda': 52000,
 'Honda': 38000}

In [16]:
cars2

Honda      38000.0
Mazda      52000.0
Lacetti    20000.0
Jaguar         NaN
Malibu     40000.0
Toyota     45000.0
dtype: float64

In [17]:
cars

{'Malibu': 40000,
 'Lacetti': 20000,
 'Toyota': 45000,
 'Mazda': 52000,
 'Honda': 38000}